/*fonts: "Gotham A","Gotham B", sans-serif; */
/*color codes: Darkish purple: #57068C, light-purple: #8900E1, super light-purple: #EDE5ED, Dark Purple: #220337*/

.page {
font-family: "Gotham A","Gotham B", sans-serif;
font-weight: 400;
margin:0;
padding:0;
display:block;
width:100%;
height:100vh;
z-index:1;
background-color: white;
}
    
.header {
min-height: 4.5em;
margin:0;
padding:0;
width:100%;
background-color: #57068C;
display: flex;
justify-content: center;
align-items:center;
}
    
.header-logo {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
max-height: 4.5em;
margin:0;
border:0;
padding:0;
cursor:pointer;
}
    
.header-button {
background-color:#57068C;
border-radius: 15px;
border:0;
cursor:pointer;
}
    
.header-button:hover {
opacity: 65%;
}
.body {
color:#220337;
font-size: larger;
display: flex;
justify-content: center;
align-content: center;    
width:100%;
z-index: 2;
background-color: white;

}
.body h2 {
    font-weight: 300;
    font-size: 50px;
    text-align:center;
}
.caspio-wrap {
display: flex;
justify-content: center;
width:100%;
z-index:3;

}
    
.footer {
position: fixed;
bottom:0em;
min-height: 4.5em;
background-color: #57068C;
display: flex;
justify-content: center;
align-items: center;
}

.footer-text {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}